:root {
  --primary-color: white;
  --secondary-color: rgb(238, 229, 229);
  --shadow: inset 2px 1px 0.4px rgba(170, 170, 170, 0.5),
    inset -2px -1px 0.2px rgba(161, 161, 161, 0.7);
  --right-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  font-family: cursive;
  --inset-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    inset -3px -3px 8px rgba(208, 206, 206, 0.7);
  --navbar-background: rgb(220, 212, 212);
  --body-color: white !important;
}
body.dark-mode {
  --primary-color: rgb(95, 92, 92);
  --secondary-color: lightgray;
  --shadow: inset 2px 1px 0.4px rgba(50, 50, 50, 0.5),
    inset -2px -1px 0.2px rgba(60, 60, 60, 0.7);
  --right-shadow: 5px 0 15px rgba(0, 0, 0, 0.7);
  --inset-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.8),
    inset -3px -3px 8px rgba(30, 30, 30, 0.7);
  font-family: cursive;
  --navbar-background: rgb(81, 77, 77);
  --body-color: rgb(107, 106, 106) !important;
}
body {
  background-color: var(--body-color);
}

.filter-label {
  padding: 0.5rem;
  box-shadow: var(--inset-shadow);
  border-radius: 1rem;

  font-family: cursive;
}

select option {
  font-family: cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--navbar-background);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: var(--shadow);
  width: 95%;
  margin: auto;
}

.logo {
  margin-right: auto;
  padding-left: 1rem;
  cursor: pointer;
}
#suggestions {
  display: none;
  position: absolute;
  top: 10vh;

  box-shadow: var(--right-shadow);
  padding: 0.5rem;
  background-color: transparent;
  width: 60%;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  left: 14rem;
  margin-top: 1rem;
}

.logo img {
  height: 3rem;
}
.searchBar,
.search-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#playListSuggestions {
  padding: 0;
  margin: 0;
  width: 40;
  position: absolute;
  top: 3.2rem;
  left: 5rem;
  background-color: #ccc;
  border-radius: 1rem;
  width: 50%;
}
.search-section {
  margin: auto;
  margin-top: 1rem;
}
.searchBar input,
.search-input,
.playlist-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-left: 0.8rem;
  width: 80%;
  box-shadow: var(--shadow);
  border: none;
}

.search-input {
  border: 1px solid #ccc;
}
.searchBar input:focus,
.search-input:focus {
  border: none;
  outline: 0.2px solid white;
}
ul li {
  list-style-type: none;
  padding: 0.3rem;
  box-shadow: var(--right-shadow);
  margin: 0.5rem;
  transition: all 0.2s;
}
ul li:hover {
  box-shadow: var(--shadow);
  cursor: pointer;
  transform: scale(1.1);
}
.darkNLight {
  margin-left: auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.music-image img {
  width: 100%;
  height: 100%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.4s; /* Transition for smooth effect */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; /* Height of the slider knob */
  width: 26px; /* Width of the slider knob */
  left: 4px; /* Position from the left */
  bottom: 4px; /* Position from the bottom */
  background-color: white; /* Color of the knob */
  border-radius: 50%; /* Make it round */
  transition: 0.4s; /* Transition for smooth effect */
}

input:checked + .slider {
  background-color: #2196f3; /* Background color when on */
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.darkNLight {
  position: relative;
  display: inline-block;
  cursor: pointer; /* Change cursor to indicate hoverable element */
  transition: all 5s;
}

.darkNLight:hover::after {
  content: "Dark/Light Mode";

  visibility: visible;
  width: 120px;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 0.2rem 0;
  border-radius: 1rem;

  position: absolute;
  z-index: 1;
  bottom: 50%;
  right: 100%;
  margin-right: 10px;

  opacity: 1;
  transition: opacity 0.3s;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 900;
}

.darkNLight:hover::before {
  content: "";
  visibility: hidden;
}

/* Additional styles for the switch can be included here */
main {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin: auto;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
  box-shadow: var(--shadow);
  background-color: var(--primary-color);
}
main div {
  box-shadow: var(--right-shadow);
  padding: 1rem;
  border-radius: 1rem;
  width: 80%;
  gap: 2rem;
  justify-content: center;
  margin-right: 1rem;
  background-color: var(--secondary-color);
}

h2 {
  display: none;
}
.song-details {
  box-shadow: none;
}

.music-image,
.audio,
.navigation-buttons,
.btn {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}
.audio {
  width: 80%;
}
audio {
  width: 100%;
}
.navigation-buttons {
  display: flex;
  justify-content: space-around;
}
.create-playlist {
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
button {
  border-radius: 1rem;
  padding: 0.9rem;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: var(--inset-shadow);
}

.create-playlist-button {
  padding: 0.5rem;
  margin-top: 0.4rem;
}
button:hover {
  transform: scale(1.1);
}
.playlist-input {
  width: 40%;
}
.playlist-input:focus {
  outline: none;
  box-shadow: var(--right-shadow);
}
footer p {
  padding: 1rem;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: var(--inset-shadow);
  width: 50%;
}

@media screen and (max-width: 900px) {
  header {
    width: 95%;
    margin: auto;
  }
  main {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 90%;
  }
  .section-1,
  .section-2,
  .section-3 {
    width: 100%;
  }

  .create-playlist-button {
    padding: 0.9rem;
    margin-top: 1rem;
  }
  .audio {
    width: 70%;
  }
  audio {
    width: 100%;
  }
  #suggestions {
    left: 9rem;
  }
}
@media screen and (max-width: 540px) {
  #suggestions {
    left: 7rem;
    width: 60%;
    font-size: 0.9rem;
  }
  header {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
  .darkNLight {
    margin: auto;
  }

  main {
    width: 80%;
  }
  .darkNLight:hover::after {
    display: none;
  }
}
